<div>
    <p><strong>Button state: </strong>
    <br>{{ button.state | capitalize }}</p>
    <p><strong>Button type: </strong>
    <br>{{ button.buttonType }}</p>
    <p><strong>Button font color: </strong>
    <br>{{ button.fontColor }}</p>
    <p><strong>Button background color: </strong>
    <br>{{ button.backgroundColor }}</p>
    <p><strong>Button padding: </strong>
    <br>{{ button.padding }}</p>
    <p><strong>Button border: </strong>
    <br>{{ button.border }}</p>
    <p><strong>Button border radius: </strong>
    <br>{{ button.borderRadius }}</p>
</div>