{% extends '_layout' %}

{% block content %}
    <section class="default-template">
        <div>
            <h1>Welcome to Black Magic Craft Template</h1>
            <p>Por favor, ingresa al <a href="/admin" target="_blank">dashboard de CraftCMS</a>, busca en Entries «Style Guide»
            y haz el setup de los valores de tu proyecto.</p>

            <p>Recuerda, este setup únicamente servirá para definir la información del <a href="/style-guide" target="_blank">style guide</a>,
            pero también deberás definir esas variables en tu <code>global.scss</code> para que funcionen en tu código.</p>
        </div>
    </section>
{% endblock %} 